# Ignore files output from examples

beagle-with-map/README.md
prophaser/README.md

# Example #1 pooling-ex.py
Chr1.SNPs.pruned.nomiss.pooled-example.vcf.gz
Chr1.SNPs.pruned.nomiss.pooled-example.vcf.gz.csi

# Example #2 pooling-imputing-example.ipynb
reference.panel
study.population
Chr1.SNPs.pruned.nomiss.pooled*.vcf.gz*

# Example EDA


# Plots
*pdf
argsfile_example*.txt

# Results
results/*